*{
    padding:0;
    margin:0;
}
.head{
    text-align:center;
    padding:55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition : 0.8s ease-in-out;
    font-weight: bolder;
    color:rgb(255, 153, 0);
    animation:forwards;
    text-decoration:solid;
    font: size 37px;
}
table{
     padding-left:200px;
}
#her{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    color:crimson;
}
#tasks{
    padding:12px 20px;
    margin:15px auto;
    background-color: rgb(220, 237, 248);

}
#btn{
    padding:4px 3px 0 0;
    background-color:rgb(255, 255, 255);
    color:black;
    height:35px;
    width:98px;
    transition:0.9s ease;
    cursor:pointer;
}
#btn:hover{
    background-color:black;
    color:white;
}
#task{
    padding:13px 13px;
    margin:15px auto;
    background-color: rgb(255, 255, 255);
    border-bottom:2px solid black;

}
#print{
    width:100px;
    height:35px;    
    
}
@media (max-width: 768px){
    table{
        padding:100px;
    }
    #her{
        font-size:12px;
    }
}